*{
    padding: 0;
    margin: 1px;

}

body{
    background-color: rgb(122, 122, 255);
}
.ul2{
    margin-left: 405px;
    margin-top: -825px;
}
.ul3{
    margin-left: 405px;
    margin-top: -3px;
}
.ul4{
    margin-left: 1px;
    margin-top: -415px;
}
.ul5{
    margin-top: 5px;
}
.ul6 {
    margin-left: 430px;
    margin-top: -810px;
    
}


