*{
    padding: 0;
    margin: 1px;

}

body{
    background-color: rgb(122, 122, 255);
}
.ul2{
    margin-left: 405px;
    margin-top: -810px;
}
.ul3{
    margin-left: 860px;
    margin-top: -815px;
}